/* Estilos generales para la sección */
.entrenadores {
    background-color: #111;
    color: #fff;
    padding: 60px 20px;
}

/* Tarjetas */
.card {
    perspective: 1000px;
    width: 100%;
    max-width: 300px;
    height: 400px;
    margin: auto;
    border: none;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #222;
    border: 2px solid #FFD700;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-front img {
    width: 120px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.card-front h5 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: #FFD700;
}

/* Ajustes para los títulos en la parte de atras */
.card-back h6 {
    font-size: 1.2rem;
    color: #FFD700;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

/* Ajustes para las etiquetas de habilidades */
.card-back .habilidades p {
    font-size: 1rem;
    color: #FFD700;
    margin-bottom: 5px;
    text-align: left;
}

.card-front .descripcion {
    font-size: 0.9rem;
    color:rgb(180, 180, 180);
    margin-top: 5px;
    text-align: center;
}

/* Estilo para el título "Descripción" */
.card-front .descripcion-titulo {
    font-size: 1rem;
    color: #FFD700;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.card-back {
    transform: rotateY(180deg);
}

/* Barras de progreso */
.habilidades p {
    font-size: 0.9rem;
    color: #FFD700;
    margin-bottom: 5px;
}

.progress {
    background-color: #333;
    height: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    background-color: #FFD700;
    height: 100%;
    width: 0%;
    transition: width 1s ease-in-out;
}

/* Estrellas */
.estrellas {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.estrellas input {
    display: none;
}

.estrellas label {
    font-size: 1.5rem;
    color: #ccc;
    cursor: pointer;
}

.estrellas input:checked ~ label,
.estrellas label:hover,
.estrellas label:hover ~ label {
    color: #FFD700;
}