/* Estilos para la tabla */
.table {
    background-color: #222; /* Fondo gris oscuro */
    color: #FFD700; /* Texto amarillo */
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #FFD700; /* Borde amarillo */
    border-radius: 10px;
    overflow: hidden;
}

.table th {
    background-color: #333; /* Fondo gris más oscuro para el encabezado */
    color: #FFD700; /* Texto amarillo */
    font-weight: bold;
    text-transform: uppercase;
}

.table td {
    background-color: #222; /* Fondo gris oscuro para las celdas */
    color: #fff; /* Texto blanco */
}

.table-hover tbody tr:hover {
    background-color: #FFD700; /* Fondo amarillo al pasar el mouse */
    color: #111; /* Texto negro */
}

.table-hover tbody tr:hover td{
    color: #111;
    font-weight: bold;
}

.tooltip-icon {
    color: #FFD700; /* Ícono amarillo */
    cursor: pointer;
    font-weight: bold;
    margin-left: 5px;
}
