/* Estilos para la tabla */
.table {
    background-color: #222;
    color: #FFD700;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #FFD700;
    border-radius: 10px;
    overflow: hidden;
}

.table th {
    background-color: #333;
    color: #FFD700;
    font-weight: bold;
    text-transform: uppercase;
}

.table td {
    background-color: #222;
    color: #fff;
}

.table-hover tbody tr:hover {
    background-color: #FFD700;
    color: #111;
}

.table-hover tbody tr:hover td{
    color: #111;
    font-weight: bold;
}

.tooltip-icon {
    color: #FFD700;
    cursor: pointer;
    font-weight: bold;
    margin-left: 5px;
}
